.Form {
  background-color: #fff;
  width: 300px;
  margin: 15px auto;
  margin-bottom: 60px;
  padding: 2rem;
  text-align: center;
}
.Form .faCircleUser {
  font-size: 1.2rem;
}
.Form h1 {
  margin: 20px 0;
}
.Form .inputWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}
.Form .inputWrapper label {
  font-weight: bold;
}
.Form .inputWrapper input {
  padding: 5px;
  font-size: 1.2rem;
}
.Form .inputRemember {
  display: flex;
}
.Form .inputRemember input {
  margin-left: 0.5em;
}
.Form .inputRemember label {
  margin-left: 0.5rem;
}
.Form .submitButton {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  text-decoration: underline;
}
.Form p {
  color: #000;
  font-size: 1.3em;
  margin-top: 10px;
}
